{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define "description" }}{{ .Params.excerpt }}{{ end }}
{{ define "header" }}
<header></header>
{{ partial "site-navigation.html" . }}
{{ end }}

{{ define "main" }}
<div class="page">
  <article class="article">
    <time class="article__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
      {{ .Date.Format "January 2, 2006" }}
    </time>
    <h1 class="article__title">{{ .Title }}</h1>
    <section class="article__content">
      {{ .Content }}
    </section>
    <div class="article__social">
      {{ partial "social-buttons.html" . }}
    </div>
  </article>
  <div class="article-extra">
    {{ partial "subscribe.html" . }}
  </div>
  <div class="article-extra">
    {{ partial "extra-content.html" . }}
  </div>
  <div class="article-extra">
    {{ partial "disqus.html" . }}
  </div>
</div>
{{ end }}
{{ define "footer-nav" }}
  <div></div>
{{ end }}
{{ define "scripts" }}
  <script src="{{ "js/single.js" | absURL }}"></script>
  <script src="{{ "js/social-buttons.js" | absURL }}"></script>
  <!--https://buttons.github.io/-->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
{{ end }}