black-8 = rgba(0, 0, 0, 0.8)
black-6 = rgba(0, 0, 0, 0.6)
black-2 = rgba(0, 0, 0, 0.2)

near-white = #f4f4f4
white-8 = rgba( 255, 255, 255, .8 )
white-9 = rgba( 255, 255, 255, .9 )

card-shadow = 0 0 4px 2px rgba(0, 0, 0, 0.2)
not-small = "screen and (min-width: 30em)"
medium = "screen and (min-width: 30em) and (max-width: 60em)"
large = "screen and (min-width: 60em)"

primary = #1976d2
primary-dark = #004ba0
primary-light =  #63a4ff

link() 
  opacity: 0.5
  transition: all 0.15s ease-in

html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

.body-wrapper
  background-color: near-white
  color: black-8
  line-height: 1.5
  font-family: georgia, times, serif
  font-size: 0.875rem
  @media medium
    font-size: 1rem
  @media large
    font-size: 1.25rem
 
.site-header {
  background-color: primary-dark
  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  &__social-follow-wrapper {
    padding: 1rem
    @media not-small {
      padding: 1rem 2rem
    }
  }
  &__text {
    font-family: "avenir next", avenir, sans-serif
    text-align: center
    padding: 0 1rem 2rem
    margin: 0 auto
    @media not-small {
      padding: 0 2rem 2rem      
    }
    @media medium {
      max-width: 32rem
    }
    @media large {
      max-width: 48rem
    }
  }
  &__header-text {
    margin 0
    color: white-9
    font-weight: 400;
    line-height: 1.25;
    font-size: 2.25rem;
    @media medium {
      font-size: 3rem
    }
    @media large {
      font-size: 5rem
    }
  }
  &__subheader-text {
    margin: 1rem auto 0
    font-style: italic;
    font-weight: 200;
    font-size: 1.25rem;
    color: white-8
  }
}

.nav {
  background-color: primary-dark
  width: 100%
  padding: 1rem
  display: flex
  justify-content: space-between
  align-items: center
  @media not-small {
    padding: 1rem 2rem
  }
  &__title {
    font-size: 1.5rem
    font-weight: 300
    font-family: "avenir next", avenir, sans-serif
    text-decoration: none
    color: white-8
    display: inline-block
    &:hover
    &:focus { 
      color: white
    }
  }
}

.social-icon {
  display: inline-block
  z-index: 999
  fill: white-8;
  transition: all 0.15s ease-in
  margin-right: 0.5rem;
  &--twitter {
    &:hover
    :focus {
      fill: #1da1f2;
    }
  }
  &--github {
    &:hover
    :focus {
      fill: black;
    }
  }
}

.page {
  margin 0 auto
  padding: 0 0.5rem
  @media not-small {
    padding: 0 1rem
  }
  @media medium {
    max-width: 32rem
  }
  @media large {
    max-width: 48rem
  }
}

.about {
  text-align: center
}

.index-share {
  text-align: center
}

.index-anchor {
  display: block
  background-color: #fff
  margin: 0.5rem auto
  box-shadow: card-shadow
  text-decoration: none
  &:hover
  &:focus {
    transition: all 0.2s
    background-color: primary-light
  }
  @media not-small {
    margin: 1rem auto
  }
}

.summary 
  padding: 1rem
  color: black-8
  overflow: hidden
  @media not-small {
    padding: 2rem
  }
  &__excerpt
    color: black-6

body.fixed-nav-parent nav {
  position: fixed
  top: 0
  z-index: 1
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1)
}

.article {
  margin: 1rem auto 0
  padding: 1rem
  box-shadow: card-shadow
  background-color: #fff
  @media medium {
    margin-top: 2rem
    padding: 1.5rem
  }
  @media large {
    margin-top: 4rem
    padding: 2rem
  }
  &__date {
    font-family: 'avenir next', avenir, sans-serif
    font-size: 0.625rem
    @media medium {
      font-size: 0.75rem
    }
    @media large {
      font-size: .875rem
    }
  }
  &__title {
    font-family: athelas, georgia, serif    
    font-size: 1rem
    @media medium {
      font-size: 1.25rem
    }
    @media large {
      font-size: 1.5rem
    }
    &--large {
      font-size: 1.25rem
      @media medium {
        font-size: 1.5rem
      }
      @media large {
        font-size: 1.75rem
      }
    }
  }
  &__content {
    margin-top: 0.5rem
    & a {
      color: currentColor
      &:hover
      &:focus {
        link()
      }
    }
  }
  &__social {
    margin-top: 2rem
  }
}

.article-extra {
  margin: 0.25rem auto 0
  padding-top: 0.25rem
  max-width: 48rem
}

.blog-extras-container
  box-shadow: card-shadow
  background-color: white
  padding: 1rem
  margin-top: 0.5rem
  & a
    color: currentColor
    &:hover
    &:focus 
      link()
  &__title
    font-weight: bolder
  &--center
    text-align: center
  
.fb-share-button {
  & span {
    vertical-align: initial !important
  }
}

.fb-share-button
.twitter-share-button {
  display: inline
  vertical-align: top
}

#github-repo-button iframe {
  vertical-align: middle !important
}
.subscribe
  &__input
    border-style: solid
    border-width: 1px
    border-color: rgba( 0, 0, 0, .2 )
    padding: .5rem
    margin-bottom: .5rem
    width: 80%
  &__submit-btn
    display: inline-block
    padding: 0.25rem 0.5rem 0.25rem 0.5rem
    background-color: primary
    border-radius: .25rem
    border-style: solid
    border-width: 1px
    border-color: primary
    color: white
    text-align: center
    &:hover 
      cursor: pointer
    &:hover 
    &:focus 
      link()

.link-to-repo
  vertical-align: middle
  text-align: center
  margin: 2rem auto 0
  &__button
    display: inline
    margin-left: .25rem

.site-license {
  margin: 2rem auto 1rem
  text-align: center
    & a {
      text-decoration: none
      color: currentColor
    &:hover
    &:focus {
      link()
    }
  }
}

pre {
  overflow-x: auto
  overflow-y: hidden
  position: relative
  hyphens: none
}
pre code {
  display: block
  padding: 1em
  font-size: 0.625rem
  @media medium {
    font-size: 0.75rem
    padding: 1.25em
  }
  @media large {
    font-size: .875rem
    padding: 1.5em
  }
}

.not-found {
  background: url('https://media.giphy.com/media/OfpdDt12u1Psk/giphy.gif') no-repeat fixed center
  &__content {
    text-align: center
    margin-top: 2rem
    & a {
      color: currentColor
      &:hover
      &:focus {
        link()
      }
    }
  }
}

