card-shadow = 0 0 4px 2px rgba(0, 0, 0, 0.2)
not-small = "screen and (min-width: 30em)"
medium = "screen and (min-width: 30em) and (max-width: 60em)"
large = "screen and (min-width: 60em)"
primary = #1976d2
primary-light =  #63a4ff
black-8 = rgba(0, 0, 0, 0.8)
black-6 = rgba(0, 0, 0, 0.6)
black-2 = rgba(0, 0, 0, 0.2)

link() 
  opacity: 0.5
  transition: opacity 0.15s ease-in

common-text() 
  color: black-8
  line-height: 1.5
  font-family: georgia, times, serif
  font-size: 0.875rem
  @media medium
    font-size: 1rem
  @media large
    font-size: 1.25rem

.body-wrapper
  background-color: #f4f4f4
  font-family: 'avenir next', avenir, sans-serif

.index-article {
  margin 0 auto
  padding: 1rem
  text-align: center
  common-text()
}

// TODO: define widths
.index-article__child {
  margin-top: 2rem
}

.index-anchor {
  display: block
  background-color: #fff
  border-top: thin solid primary black-2
  border-bottom: @border-top
  margin: 0 auto
  & + .index-summary {
    border-top: 0
  }
  text-decoration: none
  &:hover
  &:focus {
    transition: all 0.2s
    background-color: primary-light
  }
  @media not-small {
    margin-top: 1rem
    box-shadow: card-shadow
  }
  @media medium {
    max-width: 32rem
  }
  @media large {
    max-width: 48rem
  }
}

.summary 
  textContent()
  padding: 1rem
  color: black-8
  overflow: hidden
  @media not-small {
    padding: 2rem
  }
  &__date
    display: none
    @media not-small {
      display: initial
    }
    @media medium {
      font-size: 0.75rem
    }
    @media large {
      font-size: .875rem
    }
  &__title 
    font-size: 1rem
    @media medium {
      font-size: 1.25rem
    }
    @media large {
      font-size: 1.5rem
    }
  &__excerpt
    display: none
    @media not-small {
      display: initial
      common-text()
      color: black-6
    }

.blog-extras-container
  box-shadow: card-shadow
  background-color: white
  padding: 1rem
  margin-top: 0.5rem
  common-text()
  & a
    color: currentColor
    &:hover
    &:focus 
      link()
  &__title
    font-weight: bolder
  &--center
    text-align: center
  
.subscribe
  &__input
    border-style: solid
    border-width: 1px
    border-color: rgba( 0, 0, 0, .2 )
    padding: .5rem
    margin-bottom: .5rem
    width: 80%
    common-text()
  &__submit-btn
    display: inline-block
    padding: 0.25rem 0.5rem 0.25rem 0.5rem
    background-color: primary
    border-radius: .25rem
    border-style: solid
    border-width: 1px
    border-color: primary
    color: white
    text-align: center
    &:hover 
      cursor: pointer
    &:hover 
    &:focus 
      link()

.link-to-repo
  vertical-align: middle
  text-align: center
  margin: 2rem auto 0
  common-text()
  &__button
    display: inline
    margin-left: .25rem

