<div>
  <div class='bio bio--small'>
    <div class='bio__top'>
      <div class='bio__left'>
        <img class='bio__img' src='{{ "dist/img/profile-pic.jpg" | absURL }}' alt='{{ .Site.Params.Author }}' />
      </div>
      <div class='bio__right'>
        {{ partial "social-follow.html" . }}
      </div>
    </div>
      <div>
        <h3>{{ .Site.Params.Author }}</h3>
        <p>{{ .Site.Params.About }}</p>
      </div>
  </div>

  <div class='bio bio--large'>
      <div class='bio__left'>
        <img class='bio__img' src='{{ "dist/img/profile-pic.jpg" | absURL }}' alt='{{ .Site.Params.Author }}' />
      </div>
      <div class='bio__large__right'>
        <div class='bio__large__top'>
          <h3 class='bio__large__author'>{{ .Site.Params.Author }}</h3>
          <div class='bio__large__social'>
            {{ partial "social-follow.html" . }}
          </div>
        </div>
        <p class='bio--bottom'>{{ .Site.Params.About }}</p>
      </div>
    </div>

</div>