<section class="blog-extras-container nested-links">
  <h3 class="blog-extras-container__title">Before you go</h3>
  <p>
    Would you like to receive feedback on your code? I have created a 
    <a href="https://learnitmyway.com/coding-challenge/">coding challenge</a>. 
    If you submit it, I will review it!
  </p>
  <h4>
    You might also like:
  </h4>
  <ul class="extra-content-items">
    {{ $extraContent := $.Params.extraContent}}
    {{ range $element := $extraContent }}
    <li>
      <a href="{{ $element.url }}" target="_blank" rel="noopener">{{ $element.title }}</a>
      {{ if $element.extras}}
      {{ $element.extras }}
      {{end}}
    </li>
    {{end}}
  </ul>
</section>
