<div class="share-buttons-vertical nested-links">
  <div class="share-buttons-vertical__text">
    SHARE
  </div>
  <div>
    <a class="popup" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
      <img height="32px" src='{{ "dist/img/facebook.svg" | absURL }}' />
    </a>
  </div>
  <div>
    <a class="popup" href="https://twitter.com/intent/tweet?text={{ .Title | default .Site.Title }}&via=DeveloperDavo%20{{ .Permalink }}">
      <img height="32px" src='{{ "dist/img/twitter.svg" | absURL }}' />
    </a>
  </div>
</div>