<div class="blog-extras-container">
  <div class="blog-extras-container__title">
    Spread the word! 
  </div>
  <div class="share-buttons-horizontal nested-links">
    <div class="share-button-horizontal">
      {{ partial "icon/fb-anchor.html" . }}
    </div>
    <div class="share-button-horizontal">
      {{ partial "icon/twitter-anchor.html" . }}
    </div>
    <div class="share-button-horizontal">
      {{ partial "icon/linkedin-anchor.html" . }}
    </div>
    <div class="share-button-horizontal">
      {{ partial "icon/email-anchor.html" . }}
    </div>
  </div>
</div>