<div class="share-buttons nested-links">
  <div class="share-buttons__text">
    SHARE
  </div>
  <div>
    <a id="fb-share" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
      <img height="32px" src='{{ "dist/img/facebook.svg" | absURL }}' />
    </a>
  </div>
  <div>
    <a href="https://twitter.com/intent/tweet?text={{ .Params.title }}&via=DeveloperDavo%20{{ .Permalink }}">
      <img height="32px" src='{{ "dist/img/twitter.svg" | absURL }}' />
    </a>
  </div>
</div>