<header class="cover bg-top" style="background-color: #004ba0;">
  <div class="pv3 ph3 ph4-ns" role="navigation">
    <div class="flex justify-between items-center center">
      <div class="">
        {{ partial "social-follow.html" . }}
      </div>
    </div>
  </div>
  <div>
    <div class="tc pb4 ph3 ph4-ns">
      <h1 class="f2 f-subheadline-l fw3 white-90 mb0 mt0 lh-title">
        {{ .Title | default .Site.Title }}
      </h1>
      {{ with .Params.description }}
      <h2 class="i fw1 f4 white-80 measure-wide-l center mt3">
        {{ . }}
      </h2>
      {{ end }}
    </div>
  </div>
</header>
