<form class="blog-extras-container blog-extras-container--center"
      action="https://tinyletter.com/developerdavo-noreply"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://tinyletter.com/developerdavo-noreply', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <label class='blog-extras-container__title' for="tlemail">Enter your email to receive the latest content!</label>
  <p><input class='subscribe__input' type="text" name="email" id="tlemail"/></p>
  <input type="hidden" value="1" name="embed"/>
  <button class='subscribe__submit-btn' type="submit">Subscribe</button>
</form>

