{{ define "main" }}
<div class="index">
  <div class="about">
    {{ .Content }}
  </div>
  <div class="index-share">
    {{ partial "social-buttons.html" . }}
  </div>
  <div class="index-subscribe">
    {{ partial "subscribe.html" . }}
  </div>
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
  {{ $section_name := index (.Site.Params.mainSections) 0 }}
  {{ range $section }}
  {{ $url := .Params.existingUrl | default .URL }}
  <a href="{{ $url }}" class="index-anchor">
    {{ .Render "summary" }}
  </a>
  {{ end }}

</div>
{{ end }}
{{ end }}
{{ define "scripts" }}
  <script src="{{ "js/social-buttons.js" | absURL }}"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
{{ end }}
