.index-article {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 34em;
  line-height: 1.5;
  color: var(--text-color);
  @media (--not-small) {
    font-size: 1.25rem;
  }
  @media (--large) {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.index-article__child {
  margin-top: 2rem;
}

.index-excerpts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.index-excerpt {
  @apply --card-shadow;
  position: relative;
  width: 100%;
  background-color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  &:hover,
  &:focus {
    background-color: var(--primary-light);
  }
  @media (--not-small) {
    margin-bottom: 1rem;
  }
  @media (--large) {
    width: 30%;
  }
}
