body.fixed-nav-parent nav {
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

.article {
  max-width: 48rem;
  margin: 0 auto 0 auto;
  padding: 1rem;
  @apply --card-shadow;
  background-color: #fff;
}

@media (--not-small) {
  .article {
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.article__date {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  display: inline-block;
  letter-spacing: 0.1em;
}

.article__title {
  font-family: athelas, georgia, serif;
}

.article__content {
  line-height: 1.5;
  margin-top: 0.5rem;
  font-family: georgia, times, serif;
  font-size: 1rem;
  color: #555;
}

@media (--not-small) {
  .article__content {
    font-size: 1.25rem;
  }
}

.article__content a {
  color: currentColor;
}

.article__content a:hover,
.article__content a:focus {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.article__social {
  margin-top: 2rem;
}

.article-extra {
  margin: 0.25rem auto 0 auto;
  padding-top: 0.25rem;
  max-width: 48rem;
}
