@import "tachyons/css/tachyons.css";
@import "baseof.css";
@import "ananke.css";
@import "social-buttons.css";
@import "site-navigation.css";
@import "single.css";
@import "index.css";

@custom-media --not-small screen and (min-width: 30em);
@custom-media --large screen and (min-width: 60em);

:root {
  --primary: #1976d2;
  --primary-dark: #004ba0;
  --primary-light: #63a4ff;
}

.nested-links a {
  color: #555;
}

.nested-links a:focus,
.nested-links a:hover {
  color: currentcolor;
  opacity: 0.5;
}

.bg-primary {
  background-color: var(--primary);
}

.b--primary {
  border-color: var(--primary);
}