@import "tachyons/css/tachyons.css";
@import "ananke.css";
@import "social-buttons.css";
@import "single.css";

:root {
  --primary: #1976d2;
  --primary-dark: #004ba0;
}

.nested-links a {
  color: #555;
}

.nested-links a:focus,
.nested-links a:hover {
  color: currentcolor;
  opacity: 0.5;
}

.bg-primary {
  background-color: var(--primary);
}

.b--primary {
  border-color: var(--primary);
}
