@import "normalize.css/normalize.css";
@import "dist/pre-styles.css";
@import "syntax.css";

@custom-media --large screen and (min-width: 60em);
@custom-media --medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --not-small screen and (min-width: 30em);

:root {
  --card-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  --primary: #1976d2;
}

.nested-links a {
  color: initial;
  &:hover,
  &:focus {
    opacity: 0.5;
    transition: all 0.15s ease-in;
  }
}

.btn {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  text-align: center;
  color: initial;
  cursor: pointer;
  &:hover,
  &:focus {
    opacity: 0.5;
    transition: all 0.15s ease-in;
  }
}

.btn--github {
  background-image: linear-gradient(to bottom, #fafbfc, #e4ebf0);
  border-color: #d1d2d3;
}

.btn--subscribe {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
}

.share-buttons-vertical {
  display: none;
  @media (--large) {
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: var(--card-shadow);
    display: block;
    margin: 1rem;
    position: fixed;
    text-align: center;
    top: 20rem;
    top: 50vh;
  }
}
.share-buttons-vertical__text {
  padding: 0.25rem;
  font-size: 0.6rem;
}

.share-horizontal {
  @media (--large) {
    display: none;
  }
}

.index-share-horizontal {
  margin: 0.5rem auto;
  @media (--not-small) {
    margin: 1rem auto
  }
}

.share-buttons-horizontal {
  display: flex;
  justify-content: start;
}

.share-button-horizontal {
  margin: 0.5rem 0.5rem 0 0
}
