@import "tachyons/css/tachyons.css";
@import "ananke.css";
@import "social-buttons.css";

:root {
  --primary: #1976d2;
  --primary-dark: #004ba0;
}

.nested-links a {
  color: #555;
}

.nested-links a:focus,
.nested-links a:hover {
  color: currentcolor;
  opacity: 0.5;
}

.bg-primary {
  background-color: var(--primary);
}

.b--primary {
  border-color: var(--primary);
}

.main-wrapper {
  transform: scale(0.98);
  transition: transform 0.2s;
}

body.fixed-nav .main-wrapper {
  transform: scale(1);
}

body.fixed-nav header + nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}

header + nav {
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

nav {
  background-color: var(--primary-dark);
}
