@import "tachyons/css/tachyons.css";
@import "baseof.css";
@import "ananke.css";
@import "social-buttons.css";
@import "site-navigation.css";
@import "single.css";
@import "index.css";
@import "disqus.css";

@custom-media --not-small screen and (min-width: 30em);
@custom-media --large screen and (min-width: 60em);

:root {
  --primary: #1976d2;
  --primary-dark: #004ba0;
  --primary-light: #63a4ff;
  --text-color: rgba(0, 0, 0, 0.84);
  --card-shadow: {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  }
}

.nested-links a {
  color: var(--text-color);
}

.nested-links a:focus,
.nested-links a:hover {
  color: currentcolor;
  opacity: 0.5;
}

.bg-primary {
  background-color: var(--primary);
}

.b--primary {
  border-color: var(--primary);
}